.secondary aside {
    ul {
        display: flex;
         flex-wrap: wrap;
         align-content: space-around; // what does this do?
         li {
             margin: 6px; // add space around images
         }
         // add border around images
        li img {
            width: 80px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid $dk-yellow;
            transition: all 0.2s linear;
            // animation to enlarge image
            &:hover {
                transform: scale(1.1);
                box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
            }
      }
    }

  
}

// code pattern to allow text to display on top of image at the bottom
  figure {
    position: relative; // sets up context for element with position absolute
    z-index: 5; // in order for it to scroll UNDER nav bar
    figcaption {
        padding: 6px;
        background: rgba(255,255,255,0.7);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}  

.secondary article {
    display: flex;
    flex-direction: column;
    figure {
        order: 2;
    }

}

