.nav-sub {
	padding: 10px 20px;
	background-color: $lt-yellow;
	border: 1px solid $dk-yellow;
	@media (min-width: $break-med){
		border-radius: $radius;
		margin: 0;
		width: auto;
	}
	ul {
		// display: none;
		max-height: 0;
		overflow: hidden;
		transition: all .8s;
		li {

		}
	}
	> li > a {
		font-weight: bold;
	}
	ul li {
		padding-left: 12px;
	}
	.active { 
		// display: block; 
		max-height: 500px;
	}
}
